<!-- Wizard Container 1 -->
<div class="wizard-title"><%= t("conferences.basic_information") %></div>
<div class="wizard-container">
  <div class="form-group">
    <div class="col-md-12">
      <h5 class="semibold text-primary nm"><%= t("conferences.wizard.step1.desc.title") %></h5>
      <p class="text-muted nm"><%= t("conferences.wizard.step1.desc.text") %></p>
    </div>
  </div>
  <%= render "conferences/form/step_1_fields", f: f %>
</div>
<!--/ Wizard Container 1 -->
