<h1>Listing topics</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Abstract</th>
    <th>Detail</th>
    <th>Additional info</th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.subject %></td>
    <td><%= topic.abstract %></td>
    <td><%= topic.detail %></td>
    <td><%= topic.additional_info %></td>
  </tr>
<% end %>
</table>
