<!-- Wizard Container 4 -->
<div class="wizard-title"><%= t "conferences.contact_info" %></div>
<div class="wizard-container">
  <div class="form-group">
    <div class="col-md-12">
      <h5 class="semibold text-primary nm"><%= t "conferences.wizard.step4.desc.title" %></h5>
      <p class="text-muted nm"><%= t "conferences.wizard.step4.desc.text" %></p>
    </div>
  </div>
  <%= render "admin/conferences/form/step_4_fields", f: f %>

</div>

<!--/ Wizard Container 4 -->