<div class="fixed">
<button type="button" class="btn btn-primary btn-block create-room-button" ><%= t("rooms.create") %></button>
<div class="speech-list">
  <%= render "admin/schedule/speech_list", speech_types: @speech_types %>
</div>
</div>