<div class="nested-fields">
  <div class="input-group">
    <%= f.input :type_name, label: false, input_html: {class: "form-control"} %>
    <span class="input-group-btn">
       <%= link_to_remove_association t("conferences.wizard.speech_type.remove"), f, class: "btn btn-info" %>
    </span>
  </div>
</div>
