<%
   meta title: t("titles.conferences.manage", conference: @conference.name)
%>
<% content_for :header_actions do %>
    <%= bs_button_to t("conferences.show_landing"), @conference, icon: "eye-open", style: "primary"%>
<% end %>

<div class="row">
  <div class="col-lg-9">
    <%= render "conferences/dashboard/heading" %>
    <%= render "conferences/dashboard/activities", activities: @activities %>

  </div>
  <div class="col-lg-3">
    <%= render "conferences/dashboard/sidebar" %>
  </div>
</div>