<%= form_for(@conference, :html => {:class => 'form-horizontal email-templates'}) do |f| %>
    <%= render "conferences/form/step_3/email_templates_fields", f: f %>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit :class => "btn btn-primary pull-right" %>
      </div>
    </div>
<% end %>
