<h1>Listing appeals for conference <%= @conference.name %></h1>

<p id="notice"><%= notice %></p>

<style type="text/css">
  .panel-body a,.panel-body a:hover{
    text-decoration: none;
  }
</style>

<%= render "appeals/appeals_list", appeals: @appeals %>


<%= link_to 'New Appeal', new_conference_appeal_path(@conference) %>
