<div class="row">
  <div class="col-md-12 pt10">
    <div class="panel panel-primary">
      <!-- panel heading/header -->
      <div class="panel-heading">
        <h3 class="panel-title"><i class="ico-envelope-alt mr5"></i><%= t("conferences.wizard.step3.email_templates") %></h3>
        <!-- panel toolbar -->
        <div class="panel-toolbar text-right">
          <!-- option -->
          <div class="option">
            <button class="btn down" data-toggle="panelcollapse"><i class="arrow"></i></button>
          </div>
          <!--/ option -->
        </div>
        <!--/ panel toolbar -->
      </div>
      <!--/ panel heading/header -->

      <!-- panel body with collapse capable -->
      <div class="panel-collapse pull in" style="">
        <div class="panel-body">
        </div>
      </div>
      <!--/ panel body with collapse capabale -->

      <!-- Loading indicator -->
      <div class="indicator"><span class="spinner"></span></div>
      <!--/ Loading indicator -->
    </div>
  </div>
</div>