<div class="media" style="border-bottom: 1px solid #dddddd">
  <div class="media-body">
    <h4 class="media-heading"> <%= comment.comment %></h4>

    <div class="pull-right">by <%= comment.user.email %></div>
  </div>
</div>