<div class="section-header">
  <h5 class="semibold title mb15"><i class="ico-health mr5"></i><%= t("conferences.activity") %></h5>
</div>

<%= render "conferences/dashboard/activity_list", activities: @activities  %>
