<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @room.name %>
</p>


<%= link_to 'Edit', edit_conference_room_path(@conference, @room) %> |
<%= link_to 'Back', conference_rooms_path(@conference) %>
