/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.speaker {
  width: 30px;
  float: right;
}

.updown {
  float:left;
  width: 50px;
}

.state {
  float:right;
  width: 120px;
}
