/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require bootstrap-theme
 *= require jquery.ui.datepicker
 */


body {
    padding: 30px
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signup input[type="password"] {
    border-radius: 0;
}

.form-signup input:nth-child(5) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0
}

.table .span1 {
    float: none;
    width: 44px;
    margin-left: 0;
}

.table .span2 {
    float: none;
    width: 124px;
    margin-left: 0;
}

.table .span3 {
    float: none;
    width: 204px;
    margin-left: 0;
}

.table .span4 {
    float: none;
    width: 284px;
    margin-left: 0;
}

.table .span5 {
    float: none;
    width: 364px;
    margin-left: 0;
}

.table .span6 {
    float: none;
    width: 444px;
    margin-left: 0;
}

.table .span7 {
    float: none;
    width: 524px;
    margin-left: 0;
}

.table .span8 {
    float: none;
    width: 604px;
    margin-left: 0;
}

.table .span9 {
    float: none;
    width: 684px;
    margin-left: 0;
}

.table .span10 {
    float: none;
    width: 764px;
    margin-left: 0;
}

.table .span11 {
    float: none;
    width: 844px;
    margin-left: 0;
}

.table .span12 {
    float: none;
    width: 924px;
    margin-left: 0;
}

.table .span13 {
    float: none;
    width: 1004px;
    margin-left: 0;
}

.table .span14 {
    float: none;
    width: 1084px;
    margin-left: 0;
}

.table .span15 {
    float: none;
    width: 1164px;
    margin-left: 0;
}

.table .span16 {
    float: none;
    width: 1244px;
    margin-left: 0;
}

.table .span17 {
    float: none;
    width: 1324px;
    margin-left: 0;
}

.table .span18 {
    float: none;
    width: 1404px;
    margin-left: 0;
}

.table .span19 {
    float: none;
    width: 1484px;
    margin-left: 0;
}

.table .span20 {
    float: none;
    width: 1564px;
    margin-left: 0;
}

.table .span21 {
    float: none;
    width: 1644px;
    margin-left: 0;
}

.table .span22 {
    float: none;
    width: 1724px;
    margin-left: 0;
}

.table .span23 {
    float: none;
    width: 1804px;
    margin-left: 0;
}

.table .span24 {
    float: none;
    width: 1884px;
    margin-left: 0;
}

.page-header .toolbar{
    margin-top: 35px;
}

.table-vertical-align tbody > tr > td {
    vertical-align: middle;
}
