@import "variables";

body{
    background: url('/assets/blurred.jpg');
}

html, body, .cp-container, .cp-body, .cp-sidebar {
    height: 100%
}

.cp-navbar{
    margin-bottom: 0;
    background: #1C1D20;
    border: 0;
    border-radius: 0px;
}

.cp-navbar > .navbar-header > .navbar-brand {
    color: #FFFFFF
}

.cp-navbar .navbar-buttons{
    float: left;
    margin-top: 9px;
}

.cp-navbar .user-box{
    width: 190px;
    color: #FFFFFF;
    margin-top: 5px;
}

.cp-navbar .user-box .avatar{
    float: left;
    width: 50px;
}

.cp-navbar .user-box .user-info {
    float: left;
    width: 140px;
    font-weight: bold;
    font-size: 12px
}

.cp-navbar .user-box .links {
    font-size: 10px
}
.cp-navbar .user-box .links a {
    color: #999999;
}

.cp-body{
    background: #F6F8F9;
    margin-left: 0;
    margin-right: 0;
}

.cp-sidebar{
    padding-top: 10px;
    padding-left: 5px;
    width: 18%;
    border-right: 1px solid #BBC1C4;
}

.cp-main{
    width: 58%;
}

.cp-right-sidebar{
    border-left: 1px solid #BBC1C4;
    background: #E5E6E8;
    height: 100%;
    width: 24%
}

.side-nav>li{
    border-bottom: 1px solid #E0E0E0;
}

.side-nav>li>a {
    font-size: 14px;
    font-weight: bold;
    color: #757575;
    width: 194px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.side-nav>li>a:hover{
    color: #FFFFFF;
    border-radius: 3px;
    background: $color1;
}

[class^="icon-"] {
    padding-right: 1px;
}

.sidebar-box {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #C8CCCF;
    border-radius: 2px;
}

.sidebar-title{
    border-bottom: 1px solid #C8CCCF;
    color: $color1;
    font-weight: bold;
    padding: 3px 0 3px 5px;
    line-height: 20px;
    font-size: 14px;
}

.sidebar-content{
    padding: 5px;
    font-size: 10px;
}