.logo-text{
  background: none;
  color: #FFFFFF;
  font-family: "open sans";
  font-weight: 600;
  margin-top: 0 !important;
}


.nested-fields{
  margin-bottom: 10px;
}

.note-editor{
  border: 1px solid #cfd9db;
}

.img-group > a > img{
  width: 38px;
  height: 38px;
  -webkit-box-shadow: 0 0 0 2px #ffffff;
  box-shadow: 0 0 0 2px #ffffff;
}

.img-group-stack > a > img + img{
  margin-right: -18px
}


.speech-toolbar .active{
  color: #00b1e1 !important;
}


/* btn google - color reset */
.btn-google {
  color: #ffffff;
  background-color: #DF4A32;
  border-color: #b73420;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.btn-google.disabled,
.btn-google[disabled],
fieldset[disabled] .btn-google,
.btn-google.disabled:hover,
.btn-google[disabled]:hover,
fieldset[disabled] .btn-google:hover,
.btn-google.disabled:focus,
.btn-google[disabled]:focus,
fieldset[disabled] .btn-google:focus,
.btn-google.disabled:active,
.btn-google[disabled]:active,
fieldset[disabled] .btn-google:active,
.btn-google.disabled.active,
.btn-google[disabled].active,
fieldset[disabled] .btn-google.active,
.btn-google:hover,
.btn-google:focus,
.btn-google:active,
.btn-google.active,
.open .dropdown-toggle.btn-teal {
  color: #ffffff;
  background-color: #da4f2e;
  border-color: #b73420;
}



/* btn github - color reset */
.btn-github {
  color: #ffffff;
  background-color: #3c3c3c;
  border-color: #000;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.btn-github.disabled,
.btn-github[disabled],
fieldset[disabled] .btn-github,
.btn-github.disabled:hover,
.btn-github[disabled]:hover,
fieldset[disabled] .btn-github:hover,
.btn-github.disabled:focus,
.btn-github[disabled]:focus,
fieldset[disabled] .btn-github:focus,
.btn-github.disabled:active,
.btn-github[disabled]:active,
fieldset[disabled] .btn-github:active,
.btn-github.disabled.active,
.btn-github[disabled].active,
fieldset[disabled] .btn-github.active,
.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active,
.open .dropdown-toggle.btn-teal {
  color: #ffffff;
  background-color: #454545;
}

.user-profile .jumbotron{
  height: 90px;
}
.user-profile .ellipsis{
  line-height: 25px;
}
.user-profile .header{
  background: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  padding: 10px;
}
.user-profile .nav-tabs{
  padding-left: 3px;
  padding-top: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.user-profile > .panel {
  border-radius: 0;
}
.user-profile .panel-body .panel-footer {
  margin: 0;
}

.nav-tab-teal{
  color: #ffffff;
  background-color: #6bccb4;
  border-color: #58c5aa;
}


.nav-tab-teal a{
  color: #ffffff !important;
}

.summernote-editor{
  height: 500px;
}

.speaker {
  width: 45px;
  float: left;
}


#conference_modules .form-group:first-child{
  border-top-width: 1px !important;
}

.speech-types{

  .input-group .form-control {
    width:50%;
  }
  .input-group .form-control:first-child {
    border-right-width: 0;
  }

}

.media.unread{
  background: #E8FEFF !important;
}