.logo-text{
  background: none;
  color: #FFFFFF;
  font-family: "open sans";
  font-weight: 600;
  margin-top: 0 !important;
}


.nested-fields{
  margin-bottom: 10px;
}

.note-editor{
  border: 1px solid #cfd9db;
}