// Place all the styles related to the Schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require kendo.common
*= require kendo.default
*= require kendo.flat

*/