/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.speaker {
  width: 30px;
  float: left;
}

.updown {
  float:left;
  width: 50px;
}

.state {
  float:right;
  width: 120px;
}

.speeches-list .panel-body a, .panel-body a:hover {
    text-decoration: none;
}

.speeches-list .row {
    margin-top: 40px;
}

.speeches-list .clickable {
    cursor: pointer;
}

.speeches-list .panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}

.speeches-list .panel-heading div span {
    margin-left: 5px;
}

.speeches-list .panel-body {
    display: none;
}

.speeches-list .accepted {
    background-color: #BBFAAB;
}

.speeches-list .rejected {
    background-color: #FACCCC;
}

.speeches-list .actions {
    width: 150px;
}

.speeches-list .icon-thumbs-down {
    font-size: 20px !important;
}

.speeches-list .icon-thumbs-up {
    font-size: 20px !important;
}