<!-- Notification dropdown -->
<li class="dropdown custom" id="header-dd-notification">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
        <span class="meta">
            <span class="icon"><i class="ico-bell"></i></span>
            <span class="hasnotification hasnotification-danger"></span>
        </span>
    </a>

  <!-- Dropdown menu -->
  <div class="dropdown-menu" role="menu">
    <div class="dropdown-header">
      <span class="title">Notification <span class="count"></span></span>
      <span class="option text-right"><a href="javascript:void(0);" id="readNotifications">Mark as Read</a></span>
    </div>
    <div class="dropdown-body slimscroll">
      <!-- indicator -->
      <div class="indicator inline">
        <span class="spinner spinner10"></span>
      </div>
      <!--/ indicator -->

      <!-- Message list -->
      <div class="media-list notifications-content">

      </div>
      <!--/ Message list -->
    </div>
  </div>
  <!--/ Dropdown menu -->
</li>
<!--/ Notification dropdown -->
